@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f9;
  color: #333;
}

h1 {
  margin: 2rem 0;
  text-align: center;
  font-weight: 700;
  color: #222;
}

a {
  display: inline-block;
  margin: 1rem auto;
  text-align: center;
  font-weight: bold;
  color: #007bff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.cards {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1.5rem;
  padding: 2rem;
  transition: transform 0.2s;
}

.card {
  flex-basis: 30%;
  min-width: 300px;
  background: white;
  padding: 1.5rem;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
}

.card:hover {
  transform: translateY(-5px);
}

.card__name {
  font-size: 1.4rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
  color: #444;
}

.card__description,
.card__category {
  font-size: 1rem;
  color: #666;
}

.form-wrapper {
  max-width: 600px;
  margin: 2rem auto;
  padding: 4rem;
  background: white;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
}

label {
  font-weight: bold;
  display: block;
  margin-top: 1rem;
  color: #222;
}

input[type="text"],
button {
  width: 100%;
  padding: 0.75rem;
  margin-top: 0.5rem;
  border-radius: 5px;
  border: 1px solid #ccc;
}

button {
  max-width: 40%;
  background-color: #007bff;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s;
}

button:hover {
  background-color: #0056b3;
}
